

h1 {
  background-image: url("../Dasmoto/pattern/pattern.jpeg");
  text-align: center;
  font-size: 100px;
  color: khaki;
  font-family: "Helvetica"
}
h3,h2,p {
    font-family: "Helvetica";
  }

.item {
  border-radius: 0%;
  border-color: blue;
}

.item h2 {
  font-size: 32px;
  color: white;

}

.price {
  font-weight: bold;
  color: blue;
}

#brush {
  background-color: mediumspringgreen;
}

#frame {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}